<h3 style="text-align: center"> Create Collection </h3>
<div style="text-align:center">
 <div class="form-group" >
            <label for="name">Name</label>
                <input  name="name"  #name>
 </div>
 <br>
 <br>
<div class="form-group" >
            <label for="description">Descrition</label>
                <input type="text" cols="40"   rows="5" style="width:200px; height:50px;" 
                name="description"  #description>
</div>
<button (click)='createCollection(name.value,description.value)'>create collection</button>
</div>
<p>
  {{response}}
</p>