<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<p style="display:none">user={{user}}</p>
 <header>
      <h1>NASA IMAGE SHARING SITE</h1>
      <h2>Anthony Fekete</h2>
    </header>
    <nav data-spy="affix" data-offset-top="160" data-offset-bottom="260">
     <p *ngIf ="admin == true"> In admin mode</p>
      <a href="home"  *ngIf= "admin == false" >Home</a>
      <a href="mycollections" *ngIf="user == true && admin == false"  >My Collections</a>
       <a href="dashboard" *ngIf="user == true  && admin == false" >Public Collections</a>
      <a href="searchimages" *ngIf="user == true  && admin == false" >Search Nasa Images</a>
      <a (click)="logout()" href='home'*ngIf="user == true" >logout</a>
       <a (click)="logout()" href='login'*ngIf="user == false  && admin == false" >login</a>
       <a href="privacy" > Privacy Policy</a>
     </nav>
    
        <router-outlet></router-outlet>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
